/* DateRange & DatePicker */

[date-range], [date-range] *,
[date-picker], [date-picker] * {
  box-sizing: border-box;
  line-height: 140%;
  margin: 0;
  outline: 0;
  user-select: none;
}

/* DateRange */

[date-range] {

  .date-range-container {
    width: 380px;
  }

  .date-range-actions {
    height: 30px;
    text-align: center;
  }

  .date-range {

    .date-picker {
      float: left;
      margin: 10px;
    }
  }
}

/* DatePicker */

[date-picker] {

  user-select: none;

  .datepicker-item-block(@size) {
		border-radius: 2px;
    cursor: pointer;
    display: block;
    float: left;
    height: @size;
    line-height: @size;
    margin: 2px;
    text-align: center;
    width: @size;

		&:hover {
			background: #8CC8FF;
		}

		&.disabled, &.disabled:hover {
      color: #EBEBEB;
    }

    &.disabled:hover {
      background: #D7D7D7;
    }
  }

  .datepicker {
    color: #5F5F5F;
    width: 170px;
  }

  .datepicker-input {
    border: 1px solid #EBEBEB;
    height: 30px;
    padding: 5px;
    position: relative;


    &.is-focused {
      border: 1px solid #8CC8FF;
    }
  }

  .datepicker-input-date,
  .datepicker-input-time {
    font-size: 11px;
  }

  .datepicker-input-date {
    border: 0;
    float: left;
    width: 60%;
  }

  .datepicker-input-time {
    border: 0;
    float: right;
    width: 20%;
  }

  .datepicker-input-icon {
    fill: #C3C3C3;
    height: 20px;
    position: absolute;
    right: 7px;
    width: 20px;

    &.is-focused {
      fill: #8CC8FF;
    }

    &.is-active {
      right: 40px;
    }
  }

  .datepicker-actions {
    font-size: 13px;
    height: 30px;
  }

  .datepicker-actions-arrow {
    border-radius: 2px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    float: left;
    line-height: 140%;
    height: 20px;
    margin: 5px;
    text-align: center;
    width: 20px;

    &:hover {
      border: 1px solid #8CC8FF;
    }
  }

  .datepicker-actions-switch {
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 110px;
  }

  .datepicker-calendar {
    border: 1px solid #EBEBEB;
    border-radius: 2px;
    font-size: 11px;
    height: 170px;
  }

  .datepicker-calendar-weekday {
    .datepicker-item-block(20px);
    cursor: default;
    font-weight: bold;

    &:hover {
      background-color: #FFFFFF;
    }
  }

  .datepicker-calendar-day {
    .datepicker-item-block(20px);
    cursor: pointer;

    &.is-active {
      background-color: #007DFF;
      color: #FFFFFF;
    }

    &.is-now {
      background-color: #B9D200;
      color: #FFFFFF;
    }

    &.is-disabled {
      background: none;
      color: #999999;
      cursor: default;
    }
  }
}
