<div class="datepicker">
  <div class="datepicker-actions">
    <span class="datepicker-actions-arrow" ng-click="prev()">
      <svg class="datepicker-actions-arrow-icon is-previous" version="1.1" id="icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 9 16" enable-background="new 0 0 9 16" xml:space="preserve">
      <polygon id="arrow" points="9,8 1.03448,0 0,1.06667 6.93103,8 0,14.93333 1.03448,16 "/>
      </svg>
    </span>
    <span class="datepicker-actions-switch">{{date|date:"MMMM yyyy"}}</span>
    <span class="datepicker-actions-arrow" ng-click="next()">
      <svg class="datepicker-actions-arrow-icon is-next" version="1.1" id="icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 9 16" enable-background="new 0 0 9 16" xml:space="preserve">
      <polygon id="arrow" points="9,8 1.03448,0 0,1.06667 6.93103,8 0,14.93333 1.03448,16 "/>
      </svg>
    </span>
  </div>

  <div class="datepicker-calendar">
    <span
      class="datepicker-calendar-weekday"
      ng-repeat="day in weekdays"
      style="overflow: hidden">
      {{ day|date:"EEE"|limitTo:1 }}
    </span>
    <span
      class="datepicker-calendar-day"
      ng-repeat="day in days"
      ng-class="{'is-now':isNow(day),'is-active':isSameDay(day),'is-disabled':(day.getMonth()!=date.getMonth()),'is-after':isAfter(day),'is-before':isBefore(day)}"
      ng-click="setDate(day)"
      ng-bind="day.getDate()">
    </span>
    <div class="clearfix"></div>
  </div>
</div>
