<div class="date-range-container">
    <div class="date-range-actions">
        <button class="date-range-action" ng-click="setToday()">{{today}}</button>
        <button class="date-range-action" ng-click="setYesterday()">{{yesterday}}</button>
        <button class="date-range-action" ng-click="setLastWeek()">{{lastWeek}}</button>
        <button class="date-range-action" ng-click="setLastMonth()">{{lastMonth}}</button>
    </div>
    <div class="date-range">
        <div date-picker="start" ng-disabled="disableDatePickers"  class="date-picker" date after="start" before="end" min-view="date" max-view="date"></div>
        <div date-picker="end" ng-disabled="disableDatePickers"  class="date-picker" date after="start" before="end"  min-view="date" max-view="date"></div>
    </div>
</div>
