<div class="datepicker">
  <div class="datepicker-actions">
    <span class="datepicker-actions-arrow is-previous" ng-click="prev()">‹</span>
    <span class="datepicker-actions-switch">{{date|date:"yyyy MMMM"}}</span>
    <span class="datepicker-actions-arrow is-next" ng-click="next()">›</span>
  </div>
  <div class="datepicker-calendar">
    <span
      class="datepicker-calendar-weekday"
      ng-repeat="day in weekdays"
      style="overflow: hidden">
      {{ day|date:"EEE"|limitTo:1 }}
    </span>
    <span
      class="datepicker-calendar-day"
      ng-repeat="day in days"
      ng-class="{'is-now':isNow(day),'is-active':isSameDay(day),'is-disabled':(day.getMonth()!=date.getMonth()),'is-after':isAfter(day),'is-before':isBefore(day)}"
      ng-click="setDate(day)"
      ng-bind="day.getDate()">
    </span>
    <div class="clearfix"></div>
  </div>
</div>
